body{
font-family:Arial;
margin:0;
text-align:center;
background:violet;
}

header{
background:blue;
color:white;
padding:30px;
}

nav{
background:red;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-size:18px;
}

section{
padding:40px;
}

footer{
background:pink;
color:white;
padding:10px;
}