body{
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(45deg,#6a11cb,#2575fc);
color:white;
}

.container{
text-align:center;
}

#display{
font-size:50px;
margin:20px 0;
}

button{
padding:10px 20px;
margin:10px;
font-size:18px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:black;
color:white;
}
