body{
font-family:Arial;
background:linear-gradient(45deg,#36d1dc,#5b86e5);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
text-align:center;
background:white;
padding:30px;
border-radius:10px;
}

input{
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
margin-top:10px;
cursor:pointer;
}

#result{
margin-top:20px;
font-size:18px;
}